<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>TodoList</h1>
            <nav>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Startsida</a></li>
                    <li><a asp-controller="Home" asp-action="Todos">Todos</a></li>
                    <li><a asp-controller="Home" asp-action="AddTodo">Lägg till</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>