@{
    ViewData["Title"] = "Startsidan"; //Titel
}

<h2 class="title">@ViewBag.Message</h2>
<p class="intro">Organisera din vardag med stil och effektivitet.</p>

<div class="quote-container">
    <blockquote>"Start where you are. Use what you have. Do what you can." - Arthur Ashe</blockquote>
    <blockquote>"The secret of getting ahead is getting started." - Mark Twain</blockquote>
</div>
